.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    background-color: rgba(0, 103, 221, 0.507);
}

.header {
    background-color: white;
}

.content {
    background-color: rgb(236, 236, 236);
}