body {
    margin: 0;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
}

.sidebar {
    background-color: rgba(0, 103, 221, 0.507);
    grid-column: 1/2; /*to define the extent of the sidebar in its parent grid*/
    grid-row: 1/9; /*to define the extent of the sidebar in its parent grid*/
    display: grid;
    /* grid-template-rows: 1fr 4fr 5fr; */
    color: white;
}

.logo {
    grid-row: 1/3;
}

.nav {
    grid-row: 3/5;
}

.tools {
    grid-row: 5/9;
}

li {
    list-style-type: none;
}

.search-bar-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.avatar-buttons-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center; /*centers the text inside the .button containers*/
    /* margin-left: auto;
    margin-right: auto; */
}


.header {
    background-color: white;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content {
    background-color: rgb(236, 236, 236);
    grid-column: 2/3;
    grid-row: 3/-1;
    display: grid;
    grid-template-rows: 1fr 12fr;
    grid-template-columns: 3fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-headings {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
}

.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-right: 10px;
}

.project, .trending-card, .announcement-card {
    background-color: white;
    border-radius: 15px;
}

.announcement-trending {
    display: grid;
    grid-template-rows: 7fr 1fr 7fr;
}

.trending-heading {
    text-align:left;
    margin-top: auto;
    margin-bottom: auto;
}

.user-name {
    margin: auto;
}

.project {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    margin: 0;
}

.buttons div {
    color: white;
    background-color: rgb(0, 119, 255);
    /* display: inline-block; */
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 20px;
}

.search-logo img {
     max-width: 40px; 
     max-height: 40px;
     
}

.search-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}