body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;     
    grid-template-rows: 3fr 3fr 4fr 4fr 4fr 4fr 4fr 4fr;
}

.sidebar {
    background-color: rgba(0, 103, 221, 0.507);
    grid-column: 1/2;
    grid-row: 1/9;
    display: grid;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}

.nav {
    grid-row: 3/5;
}

.tools {
    grid-row: 5/9;
}


.search-bar-row {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 2fr;
}

.avatar-buttons-row {
    display: grid;
    grid-template-columns:1fr 3fr 2fr 3fr;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.header {
    background-color: white;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content {
    background-color: rgb(236, 236, 236);
    grid-column: 2/3;
    grid-row: 3/-1;
    display: grid;
    grid-template-rows: 1fr 12fr;
    grid-template-columns: 3fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-headings {
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: auto;
    margin-bottom: auto;
    margin-bottom: 10px;
}

.project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-right: 10px;
}

.project, .trending-card, .announcement-card {
    background-color: white;
    border-radius: 15px;
}

.announcement-trending {
    display: grid;
    grid-template-rows: 7fr 1fr 7fr;
}

.trending-heading {
    text-align:left;
    margin-top: auto;
    margin-bottom: auto;
}

.user-name {
    margin: auto;
}

.project {
    /* font-size: 20px; */
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    margin: 0;
}

.buttons div {
    color: white;
    background-color: rgb(0, 119, 255);
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.search-icon img {
     max-width: 30px; 
     max-height: 30px;
     
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-bar input {
    height: 35%;
    width: 90%;
    border: none;
    border-radius: 20px;
    background-color: rgb(236, 236, 236);
}

ul {
    margin: 0;
}

.avatar-mini img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.avatar-mini, .avatar-big {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-big img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.bell-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell-icon img {
    max-width: 30px; 
    max-height: 30px;
}

.avatar-text {
    margin-top: auto;
    margin-bottom: auto;
}

.avatar-text h2 {
    margin: 0;
}

.dashboard {
    display: flex;
    align-items: center;

}

.dashboard img {
    max-width: 30px; 
    max-height: 30px;
}

.dashboard-text {
    margin-left: 2%;
    font-size: 20px;
}

.nav-text, .tools-text {
    display: flex;
    align-items: center;
}

.nav-text div {
    margin-left: 2%;
}

.tools-text div {
    margin-left: 2%;
}

div img {
    width: 30px; 
    height: 30px;
}

.announcement-card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
}

h3 {
    margin-bottom: 1%;
}

.announcement-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.project {
    padding: 20px;
}