body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.sidebar {
    background-color: rgba(0, 103, 221, 0.507);
    grid-column: 1/2; /*to define the extent of the sidebar in its parent grid*/
    grid-row: 1/3; /*to define the extent of the sidebar in its parent grid*/
    display: grid; /*to make the sidebard a grid container*/
}

li {
    list-style-type: none;
}

.header {
    background-color: white;
}

.content {
    background-color: rgb(236, 236, 236);
    grid-column: 2/3;
}