body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
}

.sidebar {
    background-color: rgba(0, 103, 221, 0.507);
    grid-column: 1/2; /*to define the extent of the sidebar in its parent grid*/
    grid-row: 1/9; /*to define the extent of the sidebar in its parent grid*/
    display: grid;
    /* grid-template-rows: 1fr 4fr 5fr; */
}

.logo {
    grid-row: 1/3;
}

.nav {
    grid-row: 3/5;
}

.tools {
    grid-row: 5/9;
}

li {
    list-style-type: none;
}



.header {
    background-color: white;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.content {
    background-color: rgb(236, 236, 236);
    grid-column: 2/3;
    grid-row: 3/-1;
}